<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="headerImg" src="../../assets/icon/logoCordova.png">
      Control de Pozos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <iframe src="https://www.cordovaindustrial.com/pozos/index.html" class="mainFrame" frameborder="0"></iframe>
</ion-content>
